.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5%;
  gap: 5%;
}
.containerCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  align-items: center;
}

.favorite {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
.delete {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  color: black;
  &:hover {
    transform: scale(1.5);
    color: red;
  }
}
