.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-navigate-color);
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--navigate-text-color);
  cursor: pointer;
}

.links {
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: var(--navigate-text-color);
  font-weight: bold;
  padding: 5px;
  transition: 0.3s;
  border-radius: 50%;

  &:hover {
    color: var(--background-navigate-color);
    background-color: var(--primary-color);
    border-radius: 5px;
  }
}
