:root {
  --background-color: #d8d8d8;
  --background-navigate-color: #3498db;
  --navigate-text-color: #fff;
  --primary-color: #333;
  --card: #313131;
  --primary-text-card: #d6d6d6;
}

body[data-theme="dark"] {
  --card: #a0a0a0;
  --primary-text-card: #232222;
  --background-color: #474747e0;
  --primary-color: #d8d8d8;
  --background-navigate-color: #0062a4;
  --navigate-text-color: #111;
}
